.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E31C79;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    display:flex;
    max-width: 40px;
    
    justify-content: left;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}